version: '3.8'

services:
  backend:
    build: ./attendance-app/backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/attendance_db
      - JWT_SECRET=dev_secret_key_123
      - CLIENT_URL=http://localhost:5173
    depends_on:
      - mongo
    volumes:
      - ./attendance-app/backend:/app
      - /app/node_modules

  frontend:
    build: ./attendance-app/frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - backend
    volumes:
      - ./attendance-app/frontend:/app
      - /app/node_modules

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
